<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik:400,700"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/7f01a542af.js"
      crossorigin="anonymous"
    ></script>
    <script src="index.js"></script>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
      }

      body {
        background: #fff3eb;
      }

      .error {
        text-align: center;
      }

      .topnav {
        overflow: hidden;
        background-color: rgba(53, 46, 46, 0.117);
      }

      .topnav a {
        float: left;
        color: #c69b68;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        color: black;
      }
      .nav {
        margin-right: 50px;
        margin-top: 18px;
        font-weight: bold;
      }
      .topnav {
        color: white;
      }
      .far {
        margin-left: -25px;
        margin-top: 25px;
        position: relative;
        z-index: 2;
      }

      .img {
        float: left;
      }
      @media (max-width: 768px) {
        .logo {
          width: 80%;
        }
      }
      p {
        font-size: 3vw; /* Adjust the value as needed */
        color: #c69b68;
        font-weight: bold;
        margin-left: 30px;
      }
      .ftr {
        font-size: 1vw;
        color: #fff3eb;
      }
      .lbl {
        color: #c69b68;
        font-weight: bold;
        font-size: 50px;
      }
      @media (max-width: 768px) {
        label {
          font-size: 15px;
        }
      }
      @media (max-width: 768px) {
        p {
          font-size: 40px;
        }
      }
      .menu-toggle {
        display: none; /* Hide on larger screens */
        cursor: pointer;
      }
      .bar {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
      }

      /* Show menu on smaller screens */
      @media (max-width: 768px) {
        .menu {
          display: none;
          flex-direction: column;
          background-color: #333;
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          z-index: 1;
        }

        .menu.show {
          display: flex;
          background-color: rgba(53, 46, 46, 0.204);
          margin-top: 29px;
        }
        .menu-toggle {
          display: block;
          max-width: 100%;
          float: right;
          margin: 25px 15px 0 0;
        }
      }

      .rounded-t-5 {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }

      @media (min-width: 992px) {
        .rounded-tr-lg-0 {
          border-top-right-radius: 0;
        }

        .rounded-bl-lg-5 {
          border-bottom-left-radius: 0.5rem;
        }
      }
      .card {
        margin: auto;
        margin-top: 110px;
        max-width: 60%;
      }
      .formc {
        width: 95%;
        height: 50px;
        box-shadow: inset 0 5px 5px rgba(165, 162, 162, 0.5);
        border-radius: 5px;
        border: none;
        padding: 10;
      }
      .formc::placeholder {
        color: #c69b68;
        font-weight: 600;
        font-size: 20px;
      }
      .cntr {
        margin-top: 200px;
      }
      .btns {
        background-color: #c69b68;
        color: #fff;
        border: none;
      }
    </style>
  </head>
  <!-- GAWA NI JERICO MAHINAY POGI-->
  <body>
    <div class="topnav">
      <a href="/login"><img src="logo.png" height="60px" width="60px" /></a>

      <div class="menu">
        <a class="nav" href="#home">Home</a>
        <a class="nav" href="#news">News</a>
        <a class="nav" href="#contact">Contact</a>
        <a class="nav" href="#about">About</a>
      </div>
      <div class="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <script>
        const menuToggle = document.querySelector(".menu-toggle");
        const menu = document.querySelector(".menu");

        menuToggle.addEventListener("click", () => {
          menu.classList.toggle("show");
        });
      </script>
    </div>
    <div class="login-form">
      <div class="img">
        <img class="logo" src="logo.png" alt="" style="margin-left: 60px" />
        <div>
          <p>We Deliver Good Food</p>
        </div>
      </div>

      <section class="form text-center text-lg-start">
        <div class="card">
          <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-4 d-none d-lg-flex">
              <img
                src="food.jpg"
                class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"
              />
            </div>
            <div class="col-lg-8">
              <div class="card-body py-5 px-md-5">
                <div style="text-align: center; margin-top: 0">
                  <label class="lbl">LOGIN</label>
                </div>
                <div class="error">
                  <% if (typeof errorMessage !== 'undefined') { %>
                  <p style="color: red"><%= errorMessage %></p>
                  <% } %> <% if (typeof message !== 'undefined') { %>
                  <p style="color: rgb(0, 255, 0)"><%= message %></p>
                  <% } %>
                </div>
                <form>
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      placeholder="Enter Email . . . . ."
                      id="Email"
                      class="formc"
                    />
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      placeholder="Enter Password . . . . ."
                      id="password"
                      name="password"
                      class="formc"
                    />
                    <span
                      toggle="#password"
                      id="togglePassword"
                      class="fa-fw fa-eye far toggle-password"
                    ></span>
                  </div>
                  <script>
                    const togglePassword =
                      document.querySelector("#togglePassword");
                    const password = document.querySelector("#password");

                    togglePassword.addEventListener("click", function (e) {
                      // toggle the type attribute
                      const type =
                        password.getAttribute("type") === "password"
                          ? "text"
                          : "password";
                      password.setAttribute("type", type);
                      // toggle the eye slash icon
                      this.classList.toggle("fa-eye-slash");
                    });
                  </script>
                  <!-- 2 column grid layout for inline styling -->
                  <div class="row mb-4">
                    <div>
                      <!-- Simple link -->
                      <a href="#!">Forgot password?</a>
                    </div>
                    <div class="d-flex justify-content-center mb-5">
                      <label class="lbl" style="font-size: 25px"
                        >Login With</label
                      >
                    </div>
                    <div class="d-flex justify-content-center">
                      <a
                        href="https://web.facebook.com/?stype=lo&jlou=AfcxTnUCxIi8nXM6IO9oNTcMCV-_OYgvzhLqB5LWIRGYfli4bpVxr-c-BaSYgFP2XIOF0W6yadcvsVXMDWTgHbp8c-wb4rZNRf_raKqaItIhEQ&smuh=44978&lh=Ac9-55MNYkUPHVy7yOs"
                      >
                        <i class="fa-brands fa-facebook fa-2xl"></i></a
                      ><label
                        class="lbl"
                        style="margin: 0 20px 0 20px; font-size: 20px"
                        >or</label
                      >
                      <a href=""><i class="fa-brands fa-google fa-2xl"></i></a>
                    </div>
                  </div>

                  <!-- Submit button -->
                  <div class="action">
                    <input
                      type="submit"
                      value="Sign in"
                      class="btns btn btn-lg btn-block"
                    />
                  </div>
                  <div>
                    <!-- Simple link -->
                    <label>Don't Have An Account?</label>
                    <a href="/register"> Register here!</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="cntr">
      <footer
        class="text-white text-center text-lg-start"
        style="background-color: #23242a"
      >
        <!-- Grid container -->
        <div class="p-5">
          <!--Grid row-->

          <div class="row mt-4">
            <div class="col-lg-1 col-md-6 mb-4 mb-md-0"></div>
            <!--Grid column-->
            <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-4">About company</h5>

              <label>
                Thank you for choosing Maya&Me Services for your food ordering
                needs. We're here to satisfy your cravings, one delicious meal
                at a time. Enjoy your meal and have a wonderful day!
              </label>

              <div class="mt-4">
                <!-- Facebook -->
                <a type="button" class="btn btn-floating btn-warning btn-lg"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <!-- Dribbble -->
                <a type="button" class="btn btn-floating btn-warning btn-lg"
                  ><i class="fab fa-dribbble"></i
                ></a>
                <!-- Twitter -->
                <a type="button" class="btn btn-floating btn-warning btn-lg"
                  ><i class="fab fa-twitter"></i
                ></a>
                <!-- Google + -->
                <a type="button" class="btn btn-floating btn-warning btn-lg"
                  ><i class="fab fa-google-plus-g"></i
                ></a>
                <!-- Linkedin -->
              </div>
            </div>
            <!--Grid column-->
            <div class="col-lg-1 col-md-6 mb-4 mb-md-0"></div>
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-4 pb-1">Contact Us</h5>

              <ul class="fa-ul" style="margin-left: 1.65em">
                <li class="mb-3">
                  <span class="fa-li"><i class="fas fa-home"></i></span
                  ><span class="ms-2">New York, NY 10012, US</span>
                </li>
                <li class="mb-3">
                  <span class="fa-li"><i class="fas fa-envelope"></i></span
                  ><span class="ms-2">info@example.com</span>
                </li>
                <li class="mb-3">
                  <span class="fa-li"><i class="fas fa-phone"></i></span
                  ><span class="ms-2">+ 01 234 567 88</span>
                </li>
                <li class="mb-3">
                  <span class="fa-li"><i class="fas fa-print"></i></span
                  ><span class="ms-2">+ 01 234 567 89</span>
                </li>
              </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-4">Opening hours</h5>

              <table class="table text-center text-white">
                <tbody class="font-weight-normal">
                  <tr>
                    <td>Mon - Thu:</td>
                    <td>8am - 9pm</td>
                  </tr>
                  <tr>
                    <td>Fri - Sat:</td>
                    <td>8am - 1am</td>
                  </tr>
                  <tr>
                    <td>Sunday:</td>
                    <td>9am - 10pm</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)"
        >
          © 2023 Copyright:
          <label class="text-white">Maya&Me Services</label>
        </div>
        <!-- Copyright -->
      </footer>
    </div>
    <!-- End of .container -->
  </body>
</html>
